@import "@Styles/abstracts";

.avatar-selector{
    width: 5rem;
    height: 5rem;
    position: relative;
    border-radius: 50%;
    background-color: $accent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: filter $short-anim;
    img.display{
        display: none;
    }
    img[src].display{
       display: block;
    }
    
    img.display{
        border-radius: 50%;
        position: absolute;
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
        pointer-events: none;
        user-select: none;
    }
    // Background of the selector
    span{
        position: absolute;
        width: 50%;
        height: 50%;
        transition:
            background $short-anim,
            transform $short-anim,
            top $short-anim, 
            right $short-anim;
        justify-content: center;
        top: 50%;
        right: 50%;
        transform: translateX(50%) translateY(-50%);
        border-radius: 50%;
        pointer-events: none;
        background: transparent;
        &::before{
            position: absolute;
            width: 60%;
            height: 60%;
            transition:
                background $short-anim,
                transform $short-anim,
                top $short-anim,
                right $short-anim;
            top: 50%;
            right: 50%;
            transform: translateX(50%) translateY(-50%);
            content: "";
            background: url("/public/symbols/plus-symbol.svg");
            background-size: contain;
        }
    }
    &:has(input:not(:invalid)),&.pseudo-active {
        background-color: transparent;
    }
    // If there is an image, display the pen instead of add symbol
    input:not(:invalid)~span ,&.pseudo-active input~span{
        width: 1.5rem;
        height: 1.5rem;
        top: -0.4rem;
        right: -0.4rem;
        padding: 0.25rem;
        background: $accent;
        border: var(--small-border) solid $accent;
        transform: translateX(0%) translateY(0%);
        &::before{
            background: url("/public/symbols/pen-symbol.svg");
        }
    }
    input{
        display: none;
    }
    label{
        position: absolute;
        cursor: pointer;
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    // Grows the plus sign when hovered
    &:hover{
        span::before{
            transform: translateX(50%) translateY(-50%) scale(1.15);
        }
        filter: brightness(0.7);
    }
    // Shrinks back to normal the plus sign when clicked
    &:active{
        span::before{
            transform: translateX(50%) translateY(-50%) scale(1);
        }
        filter: brightness(0.7);
    }
}