@import "@Styles/abstracts";

.btn{
    width: 10rem;
    height: 2.5rem;
    transition: 
        transform $short-anim,
        background-color $short-anim,
        color $short-anim,
        filter $short-anim,
        box-shadow $short-anim;
    border-radius: $rounded-border-radius;
    font-family: $text-font;
    font-weight: 500;
    font-size: 1.1rem;
    color: black;
    background-color: #cfcfcf;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover, &:focus-within{
        border-color: $accent-shadow;
        box-shadow: 0px 0.2rem 0.5rem 0.025rem rgba(0, 0, 0, 0.096)
    }
    &:active{
        transform: scale(0.97);
    }
    cursor: pointer;

    // If the button contains an image instead of text
    &.img-container {
        img{
            height: 80%;
            aspect-ratio: 1/1;
        }
    }

    // If the button has a solid background with the borders
    &.filled{
        border: 0.10rem solid $accent;
        background-color: $accent;
        &:hover, &:focus-within{
            filter: brightness(0.8);
        }
    }

    // If the button only has an outline (borders)
    &.outline{
        border: 0.1rem solid $accent;
        background-color: transparent;
        color: $accent;
        &:hover, &:focus-within{
            filter: brightness(0.7);
        }
    }
}