@import "@Styles/abstracts";

.scroller-wrapper{
    width: 100%;
    position: relative;
    .right-control, .left-control{
        position: absolute;
        opacity: 0;
        transition: opacity $short-anim;
        width: 5rem;
        height: 100%;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;
        z-index: 2;
        // Medium screen style
        @include respond-to('0-to-medium') {
            width: 4rem;
        }
        // Mobile style
        @include respond-to('0-to-small') {
            width: 3rem;
        }
        svg{
            width: 3rem;
            height: 3rem;
            // Medium screen style
            @include respond-to('0-to-medium') {
                width: 2rem;
                height: 2rem;
            }
            // Mobile style
            @include respond-to('0-to-small') {
                width: 1.5rem;
                height: 1.5rem;
            }
        }
        .arrow-left-symbol, .arrow-right-symbol {
            --symbol-color: white;
        }
        &.visible{
            opacity: 1;
            cursor: pointer;
            pointer-events: all;
        }
    }
    .left-control{
        left: 0;
        // Medium screen style
        @include respond-to('0-to-medium') {
            left: -0.5rem;
        }
        // Mobile style
        @include respond-to('0-to-small') {
            left: -1rem;
        }
    }
    .right-control{
        right: 0;
        // Medium screen style
        @include respond-to('0-to-medium') {
            right: -0.5rem;
        }
        // Mobile style
        @include respond-to('0-to-small') {
            right: -1rem;
        }
    }
    .scroller-fade{
        width: 100%;
        mask-size: 100%;
        -webkit-mask-size: 100%;
        overflow-x: hidden;
        --mask-size: 7%;
        scroll-behavior: smooth;
        &.no-anim{
            scroll-behavior: auto;
        }
        &.fade-left{
            mask-image: linear-gradient(90deg, rgba(0,0,0,0) var(--mask-size), rgba(0,0,0,1) calc(var(--mask-size) * 2));
            -webkit-mask-image: linear-gradient(90deg, rgba(0,0,0,0) var(--mask-size), rgba(0,0,0,1) calc(var(--mask-size) * 2));
        }
        &.fade-right{
            mask-image: linear-gradient(90deg, rgba(0,0,0,1) calc(100% - var(--mask-size) * 2), rgba(0,0,0,0) calc(100% - var(--mask-size)));
            -webkit-mask-image: linear-gradient(90deg, rgba(0,0,0,1) calc(100% - var(--mask-size) * 2), rgba(0,0,0,0) calc(100% - var(--mask-size)));
        }
        &.fade-right.fade-left{
            mask-image: linear-gradient(90deg, rgba(0,0,0,0) var(--mask-size), rgba(0,0,0,1) calc(var(--mask-size) * 2), rgba(0,0,0,1) calc(100% - var(--mask-size) * 2), rgba(0,0,0,0) calc(100% - var(--mask-size)));
            -webkit-mask-image: linear-gradient(90deg, rgba(0,0,0,0) var(--mask-size), rgba(0,0,0,1) calc(var(--mask-size) * 2), rgba(0,0,0,1) calc(100% - var(--mask-size) * 2), rgba(0,0,0,0) calc(100% - var(--mask-size)));
        }
        // Medium screen style
        @include respond-to('0-to-medium') {
            --mask-size: 6.5%;
        }
        // Mobile style
        @include respond-to('0-to-small') {
            --mask-size: 6%;
        }
    }
    ul.inline-scroller{
        list-style: none;
        display: flex;
        width: fit-content;
        li{
            width: 15rem;
            height: 15rem;
            margin-right: 2rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 1.5rem;
            // Medium screen style
            @include respond-to('0-to-medium') {
                width: 13.5rem;
                height: 13.5rem;
            }
            // Mobile style
            @include respond-to('0-to-small') {
                width: 12rem;
                height: 12rem;
            }
            h1{
                font-family: $text-font;
                font-size: 1.3rem;
                font-weight: bold;
                margin-bottom: 0.2rem;
            }
            h2{
                font-family: $text-font;
                font-size: 0.8rem;
                font-weight: normal;
                color: darkgray;
            }
            .btn{
                color: white;
                margin-top: auto;
                border-color: darkgray;
                max-width: 100%;
            }
        }
    }
    &.rtl {
        ul.inline-scroller{
            flex-direction: row-reverse;
            justify-content: flex-end;
            margin-left: auto;
            li{
                margin-right: 0rem;
                margin-left: 2rem;
            }
        }
    }
}