@import "@Styles/abstracts";
.sponsor-header{
    margin: 1rem;
    text-align: center;
}
.sponsors-shelf{
    width: 100%;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    .sponsor{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem 5rem;
        text-decoration: none;
        transition: transform $medium-anim;
        img{
            width: 4rem;
            height: 4rem;
            object-fit: cover;
            border-radius: 50%;
        }
        p{
            text-align: center;
            margin-top: 0.5rem;
            font-family: $header-font;
            font-weight: 700;
        }
        &:hover{
            transform: scale(1.1);
        }
    }
}