@import "@Styles/abstracts";

:root{
    --navbar-height: 5rem;
}

ul.navbar, ul.navbar .navbar-menu{
    height: var(--navbar-height);
    width: 100%;
    list-style: none;
    display: flex;
    position: sticky;
    z-index: 10;
    top: 0px;
    justify-content: right;
    align-items: center;
    $element-color: white;

    // Hides the menu opener if screen big enough (by default)
    .navbar-menu-opener{
        display: none;
        .arrow-left-symbol, .nav-menu-symbol{
            --symbol-color: white;
        }
    }

    // Navbar entries
    li{
        margin: 0 1rem;
        font-size: 1.1rem;
        font-weight: 500;
        font-family: $text-font;
        position: relative;
        a{
            color: $element-color;
            transition: color $medium-anim;
            text-decoration: none;
            cursor: pointer;
            &:hover{
                color: $accent;
            }
        }
        &.selected {
            &::before{
                position: absolute;
                content: "";
                width: 100%;
                height: 0.1rem;
                background-color: $element-color;
                bottom: -1rem;
                left: 0rem;
            }
            &:hover{
                &::before{
                    transition: background-color $medium-anim;
                    background-color: $accent;
                }
            }
        }
        &.left {
            margin-right: auto;
        }

        &.logo {
            img{
                height: 3.5rem;
            }
        }
    }
}
ul.navbar{
    background-color: black;
}
ul.navbar .navbar-menu {
    transition: left $medium-anim;
}

/** 
    Style for medium screen
    Navbar is shrinked to an openable side panel
*/
@include respond-to('0-to-medium') {
    ul.navbar{
        background-color: transparent;
        li {
            display: none;
        }

        // Button that opens the navbar
        .navbar-menu-opener{
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 11;
            margin-right: auto;
            margin-left: 2rem;
            position: relative;
            &:hover{
                .arrow-left-symbol, .nav-menu-symbol{
                    --symbol-color: #{$accent};
                }
            }
            svg{
                position: absolute;
                transition: opacity $medium-anim, transform $medium-anim;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                cursor: pointer;
                height: 2rem;
                width: 2rem;
                *{
                    transition: all $short-anim;
                }
            }

            // If the panel is closed (by default) then transition from the close button to the open button
            .arrow-left-symbol{
                transform: translateX(-50%) translateY(-50%) rotate(-180deg);
                opacity: 0;
            }
            .nav-menu-symbol{
                transform: translateX(-50%) translateY(-50%) rotate(0deg);
                opacity: 1;
            }

            // If the panel is opened then transition from the open button to the close button
            &:has(~.navbar-menu.active){
                .arrow-left-symbol{
                    transform: translateX(-50%) translateY(-50%) rotate(-360deg);
                    opacity: 1;
                }
                .nav-menu-symbol{
                    transform: translateX(-50%) translateY(-50%) rotate(-180deg);
                    opacity: 0;
                }
            }
        }

        // Actual panel of the navbar
        .navbar-menu {
            position: absolute;
            z-index: 10;
            top: 0px;
            left: -100%;
            height: 100%;
            display: flex;
            width: 100vw;
            height: 100vh;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            background-color: black;
            li:nth-of-type(1) {
                margin: 6rem 0 0 2rem;
            }
            li {
                margin: 2rem 0 0 2rem;
            }
            &.active {
                left: 0%;
                li {
                    display: block;
                }
            }
        }
    }
}
// Mobile style
@include respond-to('0-to-small') {
    :root{
        --navbar-height: 4rem;
    }
    ul.navbar .navbar-menu-opener:hover{
        .arrow-left-symbol, .nav-menu-symbol{
            --symbol-color: white;
        }
    }
}