@import "@Styles/abstracts";
.forgot-password-form-wrapper{
    margin: 0rem auto 5rem;
    max-width: 70rem;
    width: 23rem;
    height: 34rem;
    // Medium screen style
    @include respond-to('0-to-medium') {
        width: 22rem;
        h1{
            padding: 0 1rem;
        }
    }
    // Mobile style
    @include respond-to('0-to-small') {
        width: 20rem;
    }
    >div{
        width: 100%;
        height: 100%;
    }
}
.forgot-password-form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;

    h1{
        font-family: $text-font;
        font-weight: 500; 
        text-align: center;
        margin-top: 3rem;
        padding: 0 1.5rem;
    }
    form{
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
    }
    .text-field{
        margin-bottom: 2rem;
    }
    .btn{
        margin-top: 1rem;
    }
}
