@import "@Styles/base";

.btn{
    width: 10rem;
    height: 2.5rem;
    transition: transform $short-anim, background-color $short-anim, color $short-anim;
    border-radius: $rounded-border-radius;
    font-family: $text-font;
    font-weight: 500;
    font-size: 1.1rem;
    color: black;
    cursor: pointer;
    &.filled{
        border: 0.15rem solid $accent;
        background-color: $accent;
        &:hover{
            background-color: $accent-shadow;
            border-color: $accent-shadow;
        }
        &:active{
            transform: scale(0.97);
        }
    }
}