@import "@Styles/base";

.btn{
    width: 10rem;
    height: 2.5rem;
    transition: transform $short-anim, background-color $short-anim, color $short-anim, box-shadow $short-anim;
    border-radius: $rounded-border-radius;
    font-family: $text-font;
    font-weight: 500;
    font-size: 1.1rem;
    color: black;
    cursor: pointer;
    &.filled{
        border: 0.15rem solid $accent;
        background-color: $accent;
        &:hover, &:focus-within{
            background-color: $accent-shadow;
            border-color: $accent-shadow;
            box-shadow: 0px 0.2rem 0.5rem 0.025rem rgba(0, 0, 0, 0.24)
        }
        &:active{
            transform: scale(0.97);
        }
    }
    &.outline{
        border: 0.1rem solid $accent;
        background-color: transparent;
        &:hover, &:focus-within{
            background-color: transparent;
            border-color: $accent-shadow;
            box-shadow: 0px 0.2rem 0.5rem 0.025rem rgba(0, 0, 0, 0.24)
        }
        &:active{
            transform: scale(0.97);
        }
    }
}