@import "@Styles/base";

.btn{
    width: 10rem;
    height: 2.5rem;
    transition: transform $short-anim, background-color $short-anim, color $short-anim, box-shadow $short-anim;
    border-radius: $rounded-border-radius;
    font-family: $text-font;
    font-weight: 500;
    font-size: 1.1rem;
    color: black;
    background-color: #cfcfcf;
    &:hover, &:focus-within{
        border-color: $accent-shadow;
        box-shadow: 0px 0.2rem 0.5rem 0.025rem rgba(0, 0, 0, 0.096)
    }
    &:active{
        transform: scale(0.97);
    }
    cursor: pointer;
    &.img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            height: 80%;
            aspect-ratio: 1/1;
        }
    }
    &.filled{
        border: 0.10rem solid $accent;
        background-color: $accent;
        &:hover, &:focus-within{
            background-color: $accent-shadow;
        }
    }
    &.outline{
        border: 0.1rem solid $accent;
        background-color: transparent;
        &:hover, &:focus-within{
            background-color: transparent;
        }
    }
}