@import "@Styles/abstracts";

.form-section{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    .form-section-field{
        margin-top: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        // Textual label of the input field
        label{
            font-family: $text-font;
            font-weight: 500;
            font-size: medium;
            margin-bottom: 0.5rem;
        }

        // Mobile style
        @media (max-width: 500px) {
            width: 100%;
        }

        // Actual input field
        .field{
            border: 1px $accent solid;
            border-radius: $rounded-border-radius;
            padding: 0.5rem 1rem;
            margin-right: 1rem;
            background-color: transparent;
            position: relative; 
            width: 12rem;
            box-sizing: border-box;
            font-family: $text-font;
            overflow-x: hidden;
            overflow-y: hidden;
            *{
                width: 100%;
                height: 100%;
                background-color: transparent;
            }
            // Mobile style
            @include respond-to('0-to-small') {
                width: 100%;
            }
        }
    }
}