@import "@Styles/base";

.forgot-password-form{
    width: 25rem;
    height: 26rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: 0.05rem solid $accent;
    border-radius: $rounded-border-radius;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    h1{
        font-family: $text-font;
        font-weight: 500;
        text-align: center;
        margin-top: 3rem;
        padding: 0 1.5rem;
    }
    form{
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
    }
    .text-field{
        margin-bottom: 2rem;
    }
    .btn{
        margin-top: 1rem;
    }
}

@media (max-width: 950px) { 
    .forgot-password-form{
        width: 20rem;
        height: 26rem;
    }
}