@import "@Styles/base";

:root{
    --navbar-height: 5rem;
}

ul.navbar {
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.11);
}

ul.navbar, ul.navbar .navbar-menu{
    height: var(--navbar-height);
    list-style: none;
    display: flex;
    position: sticky;
    background-color: white;
    z-index: 10;
    top: 0px;
    justify-content: right;
    align-items: center;
    $element-color: black;
    .navbar-menu-opener{
        display: none;
        &:hover{
            .arrow-left-symbol, .nav-menu-symbol{
                --symbol-color: #{$accent};
            }
        }
        svg{
            cursor: pointer;
            height: 2rem;
            width: 2rem;
            *{
                transition: all $short-anim;
            }
        }
    }
    li{
        margin: 0 1rem;
        font-size: 1.1rem;
        font-weight: 500;
        font-family: $text-font;
        position: relative;
        a{
            color: $element-color;
            transition: color $medium-anim;
            text-decoration: none;
            cursor: pointer;
            &:hover{
                color: $accent;
            }
        }
        &.selected {
            &::before{
                position: absolute;
                content: "";
                width: 100%;
                height: 0.1rem;
                background-color: $element-color;
                bottom: -1rem;
                left: 0rem;
            }
            &:hover{
                &::before{
                    transition: background-color $medium-anim;
                    background-color: $accent;
                }
            }
        }
        &.left {
            margin-right: auto;
        }

        &.logo {
            img{
                height: 3.5rem;
            }
        }
    }
}
ul.navbar .navbar-menu {
    transition: left $medium-anim;
}
@media (max-width: 950px) {
    ul.navbar{
        li {
            display: none;
        }
        .navbar-menu-opener{
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 11;
            margin-right: auto;
            margin-left: 2rem;
            position: relative;
            svg{
                position: absolute;
                transition: opacity $medium-anim, transform $medium-anim;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
            }
            .close{
                transform: translateX(-50%) translateY(-50%) rotate(-180deg);
                opacity: 0;
            }
            .open{
                transform: translateX(-50%) translateY(-50%) rotate(0deg);
                opacity: 1;
            }
            &:has(~.navbar-menu.active){
                .close{
                    transform: translateX(-50%) translateY(-50%) rotate(-360deg);
                    opacity: 1;
                }
                .open{
                    transform: translateX(-50%) translateY(-50%) rotate(-180deg);
                    opacity: 0;
                }
            }
        }
        .navbar-menu {
            position: absolute;
            z-index: 10;
            top: 0px;
            left: -100%;
            height: 100%;
            display: flex;
            width: 100vw;
            height: 100vh;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            background-color: white;
            li:nth-of-type(1) {
                margin: 6rem 0 0 2rem;
            }
            li {
                margin: 2rem 0 0 2rem;
            }
            &.active {
                left: 0%;
                li {
                    display: block;
                }
            }
        }
    }
}
// Mobile style
@media (max-width: 500px) {
    :root{
        --navbar-height: 4rem;
    } 
}