@import "@Styles/base";

.sign-up-form{
    width: 80%;
    height: 90%;
    // border: 0.05rem solid $accent;
    // border-radius: $rounded-border-radius;
    display: flex;
    margin: 2rem auto 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
    h1{
        font-family: $text-font;
        font-weight: 500;
        text-align: center;
        margin-top: 3rem;
        flex:2;
    }
    .other-actions{
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        flex-direction: column;
        h2{
            font-family: $text-font;
            font-weight: 500;
            font-size: medium;
            margin-bottom: 1rem;
            a{
                text-decoration: none;
                transition: color $short-anim;
                color: gray;
                &:hover{
                    color: rgb(80, 80, 80);
                }
            }
        }
    }
    .field{
        border: 1px $accent solid;
        border-radius: $rounded-border-radius;
        padding: 0.5rem 1rem;
        margin: 1rem 2rem;
        background-color: transparent;
        *{
            width: 100%;
            height: 100%;
            background-color: transparent;
        }
    }
}