/* All definitions concerning animations */

$short-anim: 150ms;
$medium-anim: 250ms;
$long-anim: 500ms;

/* All definitions concerning the page's color scheme */

$accent-light: #f78f8f;
$accent: #F66B6B;
$accent-shadow: #F83F58;
$background-dark: #382931;
$backround: #483C3C;
$background-light: #5E4F4F;
$background-true-light: white;
$background-1: #ececec;

/* All definitions concerning various elements of decoration */

$rounded-border-radius: 0.8rem;
$outline-border-width: 0.15rem;

/* All definitions concerning the website's typography */

$text-font:  "Montserrat", sans-serif;
$header-font:  "Archivo", sans-serif; 